<div class="right-content-heading">
  <div class="right-content-heading-left">
    <h3>Editing Upload Video</h3>
  </div>
  <div class="clear"> </div>
</div>

<%= render 'edit_form' %>

<%= link_to 'Show', @upload_video %> |
<%= link_to 'Back', upload_videos_path %>
