<div class="right-content-heading">
  <div class="right-content-heading-left">
    <h3>Upload New Video</h3>
  </div>
  <div class="right-content-heading-right">
    <div class="social-icons">
              <ul>
                  <li><a class="facebook" href="#" target="_blank"> </a></li>
                  <li><a class="twitter" href="#" target="_blank"></a></li>
                  <li><a class="googleplus" href="#" target="_blank"></a></li>
                  <li><a class="pinterest" href="#" target="_blank"></a></li>
                  <li><a class="dribbble" href="#" target="_blank"></a></li>
                  <li><a class="vimeo" href="#" target="_blank"></a></li>
              </ul>
  </div>
  </div>
  <div class="clear"> </div>
</div>
<%= render 'form' %>
