<div class="right-content-heading">
  <div class="right-content-heading-left">
    <h3>Editing Competition</h3>
  </div>
  <div class="clear"> </div>
</div>

<%= render 'edit_form' %>

<%= link_to 'Show', @competition %> |
<%= link_to 'Back', competitions_admin_path %>
