				<div class="right-content-heading">
					<div class="right-content-heading-left">
						<% if @is_search %>
							<h3>Search Results</h3>
						<% else %>
							<h3>Trending Videos</h3>
						<% end %>
					</div>
					<div class="right-content-heading-right">
						<div class="social-icons">
			                <ul>
			                    <li><a class="facebook" href="#" target="_blank"></a></li>
			                    <li><a class="twitter" href="#" target="_blank"></a></li>
			                    <li><a class="googleplus" href="#" target="_blank"></a></li>
			                    <li><a class="pinterest" href="#" target="_blank"></a></li>
			                    <li><a class="dribbble" href="#" target="_blank"></a></li>
			                    <li><a class="vimeo" href="#" target="_blank"></a></li>
			                </ul>
						</div>
					</div>
					<div class="clear"> </div>
				</div>
				<div class="content-grids">
							<ul class="video-browsing">
							  <% @videos.each do |v| %>
							 	<div class="content-grid">
							 		<% unless @is_search %>
										<%= link_to image_tag(v.c_poster_url), "#{videos_path}/#{v.id}", title: v.title, class: "video-link", data: { no_turbolink: true } %>
									<% end %>
									<h3><%= v.title %></h3>
									<%= link_to "Watch now", "#{videos_path}/#{v.id}", title: v.title, class: "button", data: { no_turbolink: true } %>
								</div>
							  <% end %>
							</ul>
					<div class="clear"> </div>
					<div class="pagenation">
						<% unless @is_search %>
							<%= will_paginate @videos %>
						<% end %>		
					</div>
					<div class="clear"> </div>
				</div>