$(function() {
  var video_uploaded = 0;
  var poster_uplaoded = 0;

  function validate() {
     var res = true;

     if ($('#video_title').val() == "") {
        if($('#error_msg ul').has("#no_title").length == 0)
          $('#error_msg ul').append("<li id=\"no_title\">Title can't be blank.</li>");
        res = false;
     } else {
        if($('#error_msg ul').has("#no_title").length != 0)
          $('#error_msg ul #no_title').remove();
        if(!$('#video_title').val().match(/^[0-9a-zA-Z\s\.\-\_]+$/)){
          if ($('#error_msg ul').has("#invalid_title").length == 0)
            $('#error_msg ul').append("<li id=\"invalid_title\">Title is invalid. It should not contain special characters other than \'.\', \'-\', \'_\'</li>");
          res = false;
        } else if($('#error_msg ul').has("#invalid_title").length != 0)
          $('#error_msg ul #invalid_title').remove();
     }
     
     if($('#video_video_url').val() == ""){
        if($('#error_msg ul').has("#no_video").length == 0)
          $('#error_msg ul').append("<li id=\"no_video\">You need to choose a video file to upload.</li>");
        res = false;
     } else{
        if($('#error_msg ul').has("#no_video").length != 0)
          $('#error_msg ul #no_video').remove();
     }
        
     if($('#video_poster_url').val() == ""){
        if($('#error_msg ul').has("#no_poster").length == 0)
          $('#error_msg ul').append("<li id=\"no_poster\">You need to choose a poster file to upload.</li>");
        res = false;
     } else{
        if($('#error_msg ul').has("#no_poster").length != 0)
          $('#error_msg ul #no_poster').remove();
     }

     return res;
  }

  $('.directUpload').find("input:file").each(function(i, elem) {
    var fileInput    = $(elem);
    var form         = $(fileInput.parents('form:first'));

    var formData;
    var acceptable = /(\.|\/)(mp4|jpe?g|png){1}$/i;
    if($(this).attr('id') == "video_video_url"){
      formData = form.data('video-form-data');
      acceptable = /(\.|\/)(mp4){1}$/i;
    } else {
      formData = form.data('poster-form-data');
      acceptable = /(\.|\/)(jpe?g|png){1}$/i;
    }

    var submitButton = form.find('input[type="submit"]');
    var chooseButton1 = $("#video_video_url");
    var chooseButton2 = $("#video_poster_url");
    var progressBar  = $("<div class='bar'></div>");
    var barContainer = $("<div class='progress'></div>").append(progressBar);
    fileInput.after(barContainer);
    fileInput.fileupload({
      fileInput:       fileInput,
      url:             form.data('url'),
      type:            'POST',
      autoUpload:       false,
      formData:         formData,
      paramName:        'file', // S3 does not like nested name fields i.e. name="user[avatar_url]"
      dataType:         'XML',  // S3 returns XML if success_action_status is set to 201
      replaceFileInput: false,
      add: function (e, data){
        var formatIsValid = true;
        console.log(data.originalFiles[0]);
        console.log("123");
        if(data.originalFiles[0]['type'].length == 0 || !acceptable.test(data.originalFiles[0]['type'])) {
            formatIsValid = false;
            alert('The file format is not acceptable.');
            $(this).val('');
        }
        
        submitButton.click(function (event) {
          if (formatIsValid && validate()) {
            // data.submit();
          }
        });
      },
      progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        progressBar.
          css('width', progress + '%').
          text("Loading...(" + progress + "%)");
      },
      start: function (e) {
        submitButton.prop('disabled', true);
        chooseButton1.prop('disabled', true);
        chooseButton2.prop('disabled', true);

        progressBar.
          css('background', 'green').
          css('display', 'block').
          css('width', '0%').
          text("Loading...");
      },
      done: function(e, data) {
        progressBar.text("Uploading done");
        // console.log($(this).attr('id'));
        if($(this).attr('id') == 'video_video_url'){
          video_uploaded = 1;
        } else {
          poster_uplaoded = 1;
        }
        // extract key and generate URL from response
        var key   = $(data.jqXHR.responseXML).find("Key").text();
        var url   = '//' + form.data('host') + '/' + key;

        // create hidden field
        var input = $("<input />", { type:'hidden', name: fileInput.attr('name'), value: url })
        form.append(input);
        if (video_uploaded == 1 && poster_uplaoded == 1){
          // form.submit();
        }
      },
      fail: function(e, data) {
        submitButton.prop('disabled', false);
        chooseButton1.prop('disabled', false);
        chooseButton2.prop('disabled', false);

        progressBar.
          css("background", "red").
          text("Failed");
      }
    }).on('fileuploadadded', function (e, data) {
        alert("ASDF");
        console.log(data.files.valid);
    });
  });
 
  $('.directUpload').find('input[type="submit"]').click(function (event) {
    validate();
    event.preventDefault();
  });
});
