.content-grids .video-link{
	width: 180px;
	height: 135px;
}

.comp-desc{
	display: inline-block;
	padding-bottom: 40px;
}

.comp-desc-left{
	
	height: 100%;
	/*display: table-cell;*/
	display: inline-block;
	padding-top: 0px;
}

.comp-desc-right{
	margin-left: 30px;
	display: inline-block;
	width: 50%;
}

.upvote {
	float: left;
	padding-left: 24px;
	padding-right: 24px;
}

.downvote {
	float: right;
	padding-left: 24px;
	padding-right: 24px;
}
