.video-detail {
  height: 350px;
  width: 700px;
}

.video-browsing .video-link img {
  height: 210px;
  width: 420px;
}

.video-browsing li{
  width: 320px;
}

.video-poster {
  clear: both;
}

.rate-and-vote{
	margin-top: 20px;
}

.video-rate {
  float: left;
  display: inline-block;
}

.video-rate img{
  padding: 2px;
}

.video-vote {
  margin-left: 20px;
  float: right;
  display: inline-block;
  height: 40px;
}

.video-vote span {
  position: relative;
  right: 0px; 
  bottom: 0px;
}

.pagination {
  clear: both;
}