.video-detail {
  height: 350px;
  width: 700px;
}

.video-browsing .video-link img {
  height: 210px;
  width: 420px;
}

.video-browsing div span{
  font-family: 'gandhi_sansregular';
}

.video-browsing li{
  width: 320px;
}

.video-poster {
  clear: both;
}

.rate-and-vote{
	margin-top: 20px;
}

.video-rate {
  float: left;
  display: inline-block;
}

.video-rate img{
  padding: 2px;
}

.video-vote {
  margin-left: 28px;
  float: right;
  display: inline-block;
  height: 40px;
}

.video-vote span {
  vertical-align: middle;
  line-height: normal;
  display: inline-block;
  height: 40px;
  margin: 8px;
}

.pagination {
  clear: both;
}

.comp-desc-left img{
  width: 180px;
  height: 135px;
}

.comp-desc-left{
  padding-left: 30px;
  height: 100%;
  /*display: table-cell;*/
  display: inline-block;
  padding-top: 30px;
}

.comp-desc-right{
  margin-left: 30px;
  display: inline-block;
  width: 50%;
}